<template>
    <require from="./search.css"></require>
    <div id="search">
        <div id="search-menu" class="navbar navbar-inverse">
            <ul class="nav navbar-nav">
                <li repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}">
                    <a href.bind="row.href">${row.title}</a>
                </li>
            </ul>
        </div>
        <div id="search-pane">
            <router-view></router-view>
        </div>
    </div>
</template>