#search-customer {
    display: flex;
    flex-direction: row;
    flex: 1;
}

search-customer-criteria {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

search-customer-results {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px 20px 20px 0;
}

.search-customer-results-header {
}

.search-customer-results-body {
    display: flex;
    flex-direction: column;
    flex: 1;

    > div:first-child {
        display: flex;
        flex-direction: row;
        flex: 0 0 none;
        margin: 0 0 10px 0;
        min-height: 24px;
        overflow-y: scroll;
        overflow-x: hidden;

        > div {
            flex: 1;
            white-space: nowrap;
            text-wrap: none;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        > div:nth-child(1) {
            flex: 3;
        }
    }

    > div:last-child {
        flex: 1 0 none;
        overflow-y: scroll;
        overflow-x: hidden;

        > div {
            display: flex;
            flex-direction: row;
            flex: 0 0 none;

            > div {
                flex: 1;
                white-space: nowrap;
                text-wrap: none;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            > div:nth-child(1) {
                flex: 3;
            }
        }
    }
}

.search-customer-results-footer {
    margin: 10px 0 0 0;
    min-height: 35px;
}

.search-customer-criteria-header {
}

.search-customer-criteria-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    border: 1px solid silver;
    padding: 6px;
}

.search-customer-criteria-footer {
    margin: 10px 0 0 0;
    min-height: 35px;
}
