#search-customer {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex: 1 1;
  -webkit-flex: 1 1;
  flex: 1 1;
}
search-customer-criteria {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 20px;
  -ms-flex: 0 0 300px;
  -webkit-flex: 0 0 300px;
  flex: 0 0 300px;
}
search-customer-results {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1 1;
  -webkit-flex: 1 1;
  flex: 1 1;
  margin: 20px 20px 20px 0;
  overflow: hidden;
}
.search-customer-results-header {
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  white-space: nowrap;
  text-wrap: none;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 0 0 auto;
}
.search-customer-results-body {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1 1;
  -webkit-flex: 1 1;
  flex: 1 1;
}
.search-customer-results-body > div:first-child {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0 0 10px 0;
  overflow-y: scroll;
}
.search-customer-results-body > div:first-child > div {
  padding: 0 5px;
  -ms-flex: 1 1;
  -webkit-flex: 1 1;
  flex: 1 1;
  white-space: nowrap;
  text-wrap: none;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 1px;
}
.search-customer-results-body > div:first-child > div:nth-child(2) {
  -ms-flex: 3 3;
  -webkit-flex: 3 3;
  flex: 3 3;
}
.search-customer-results-body > div:first-child > div:nth-child(1) {
  -ms-flex: 0 0 40px;
  -webkit-flex: 0 0 40px;
  flex: 0 0 40px;
}
.search-customer-results-body > div:last-child {
  -ms-flex: 1 1;
  -webkit-flex: 1 1;
  flex: 1 1;
  overflow-y: scroll;
}
.search-customer-results-body > div:last-child > div {
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 3px 0 0 0;
}
.search-customer-results-body > div:last-child > div > div {
  padding: 0 5px;
  -ms-flex: 1 1;
  -webkit-flex: 1 1;
  flex: 1 1;
  white-space: nowrap;
  text-wrap: none;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 1px;
}
.search-customer-results-body > div:last-child > div > div:nth-child(2) {
  -ms-flex: 3 3;
  -webkit-flex: 3 3;
  flex: 3 3;
}
.search-customer-results-body > div:last-child > div > div:nth-child(1) {
  -ms-flex: 0 0 40px;
  -webkit-flex: 0 0 40px;
  flex: 0 0 40px;
}
.search-customer-results-footer {
  margin: 10px 0 0 0;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}
.search-customer-criteria-header {
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  white-space: nowrap;
  text-wrap: none;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.search-customer-criteria-body {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1 1;
  -webkit-flex: 1 1;
  flex: 1 1;
  overflow: auto;
  border: 1px solid silver;
  padding: 6px;
}
.search-customer-criteria-footer {
  margin: 10px 0 0 0;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}