<template>
    <require from="./search-customer.css"></require>
    <require from="./search-customer-criteria.html"></require>
    <require from="./search-customer-results.html"></require>

    <div id="search-customer">
        <search-customer-criteria 
            search-criteria.bind="customerDataSource.searchCriteria" 
            run-search.bind="runSearch">
        </search-customer-criteria>
        <search-customer-results 
            search-results.bind="customerDataSource.pageData">
        </search-customer-results>
    </div>
    <button click.trigger="runSearch()">
        Run Search Test
    </button>
</template>