<template>
    <require from="./search-customer.css"></require>
    <require from="./search-customer-criteria.html"></require>
    <require from="./search-customer-results"></require>

    <div id="search-customer">
        <search-customer-criteria 
            search-criteria.bind="customerDataSource.searchCriteria" 
            run-search.bind="runSearch">
        </search-customer-criteria>
        <search-customer-results 
            data-source.bind="customerDataSource">
        </search-customer-results>
    </div>
</template>