<template bindable="dataSource">
    <require from="./pager.css"></require>
    <div>
        <i click.delegate="dataSource.fetchFirstPage()" class="vcr-button ${dataSource.firstPage ? 'vcr-button-disabled' : 'vcr-button-enabled'} fa fa-angle-double-left fa-border fa-2x"></i>
        <i click.delegate="dataSource.fetchPreviousPage()" class="vcr-button ${dataSource.firstPage ? 'vcr-button-disabled' : 'vcr-button-enabled'} fa fa-angle-left fa-border fa-2x"></i>
        <span>Page ${dataSource.currentPage + 1} of ${dataSource.pageCount}</span>&nbsp;&nbsp;
        <i click.delegate="dataSource.fetchNextPage()" class="vcr-button ${dataSource.lastPage ? 'vcr-button-disabled' : 'vcr-button-enabled'} fa fa-angle-right fa-border fa-2x"></i>
        <i click.delegate="dataSource.fetchLastPage()" class="vcr-button ${dataSource.lastPage ? 'vcr-button-disabled' : 'vcr-button-enabled'} fa fa-angle-double-right fa-border fa-2x"></i>
        <select value.bind="dataSource.pageSize" change.trigger="dataSource.config.fetch()">
            <option repeat.for="pgsz of dataSource.pageSizes" value.bind="pgsz" selected="${pgsz == dataSource.pageSize ? 'true' : 'false'}">${pgsz} per page</option>
        </select>
    </div>
</template>
